<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Salieri </title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
</head>

<body class = "bg-light-gray pl2">
    <H1 class="calisto dark-blue i f2"> Salieri </H1>
    <hr class = "bg-green">
    <H2 class = "calisto dark-blue f3"> composition data </H2>
    <p class = courier class = "mt3">
        

        {{name_harvest}} <br>
        {{chord1_tonic_harvest}} <br> 
        {{chord1_quality_harvest}} <br>
        {{chord1_bars_harvest}} <br>

        {{chord2_tonic_harvest}} <br>
        {{chord2_quality_harvest}} <br>
        {{chord2_bars_harvest}} <br>

        {{chord3_tonic_harvest}} <br>
        {{chord3_quality_harvest}} <br>
        {{chord3_bars_harvest}} <br>

        {{chord4_tonic_harvest}} <br>
        {{chord4_quality_harvest}} <br>
        {{chord4_bars_harvest}} <br>

        {{chord5_tonic_harvest}} <br>
        {{chord5_quality_harvest}} <br>
        {{chord5_bars_harvest}} <br>


    </p>


</body>

</html>