<button @click.prevent = "copyLast" class = "w-45 pointer mr1 f4 calisto no-underline br-pill ph3 pv2 mb2 dib white" type = "button"> copy last </button>
                <button @click.prevent = "copyAll" class = "w-45 pointer mr1 f4 calisto no-underline br-pill ph3 pv2 mb2 dib white" type = "button"> style all </button>
                <button @click.prevent = "updatePage" class = "w-100 pointer mr1 f4 calisto no-underline br-pill ph3 pv2 mb2 dib white" type = "button"> style bar </button>


                <option value="A"> A </option>
                                <option value="A#" > A#/Bb </option>
                          <option value="B"> B </option>
                          <option value="C"> C </option>
                          <option value="C#" > C#/Db </option>
                          <option value="D"> D </option>
                          <option value="D#" > D#/Eb </option>
                          <option value="E"> E </option>
                         
                          <option value="F"> F </option>
                          <option value="F#" > F#/Gb </option>
                          <option value="G"> G </option>
                          <option value="G#" > G#/Ab </option>


                          <!-- 


                           -->


                           {% if chord1_works %}
            <div id = "chord1-data" v-show="chord1Vis" style="height:25vh">
                <label for="chord-1-style" class="f4 calisto  db mb2"> Chord 1 Style <span class="normal black-60"></span></label>
                <select v-model="chord1Style" ref= "chord1style" id="chord-1-style" name="chord1_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-1-style-desc" >
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests)  </option>
                    </select>
                <small id="chord-1-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-1-denom" class="f4 calisto  db mb2"> Chord 1 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord1Denom" id="chord-1-denom" name="chord1_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-1-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>                        
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>

                </select>
                <small id="chord-1-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-1-mutators" class="f4 calisto  db mb2"> Chord 1 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord1Mut" id="chord-1-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-1-mutators-desc" name="chord1_mutators" >

                <small id="chord-1-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
              {% endif %}

              {% if chord1_works_not  %}
            
                <div v-show="oneIsCurrent" class = "" style="height:25vh">

                </div>
                {% endif %}
            
              {% if chord2_works %}
              <div id = "chord2-data" v-show="chord2Vis" style="height:25vh">
                <label  for="chord-2-style" class="f4 calisto  db mb2"> Chord 2 Style <span class="normal black-60"></span></label>
                <select v-model="chord2Style" ref= "chord2style" id="chord-2-style" name="chord2_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-2-style-desc" >
                        
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests)  </option>
                </select>
                <small id="chord-2-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-2-denom" class="f4 calisto  db mb2"> Chord 2 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord2Denom" id="chord-2-denom" name="chord2_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-2-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>
          
                </select>
                <small id="chord-2-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-2-mutators" class="f4 calisto  db mb2"> Chord 2 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord2Mut" id="chord-2-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-2-mutators-desc" name="chord2_mutators" >
          
                <small id="chord-2-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
              {% endif %}

              {% if chord2_works_not  %}
            
                <div v-show="twoIsCurrent" class = "" style="height:25vh">

                </div>
                {% endif %}

              {% if chord3_works %}
              <div id = "chord3-data" v-show="chord3Vis" style="height:25vh">
                <label for="chord-3-style" class="f4 calisto  db mb2"> Chord 3 Style <span class="normal black-60"></span></label>
                <select v-model="chord3Style" ref= "chord3style" id="chord-3-style" name="chord3_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-3-style-desc" >
                        
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests)  </option>
                    </select>
                <small id="chord-3-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-3-denom" class="f4 calisto  db mb2"> Chord 3 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord3Denom" id="chord-3-denom" name="chord3_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-3-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>
          
                </select>
                <small id="chord-3-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-3-mutators" class="f4 calisto  db mb2"> Chord 3 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord3Mut" id="chord-3-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-3-mutators-desc" name="chord3_mutators" >
          
                <small id="chord-3-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
              {% endif %}

              {% if chord3_works_not  %}
            
                <!-- <p v-show="threeIsCurrent" class = "">
                <br><br><br><br><br><br>
                <br><br><br><br><br><br>
                <br><br><br><br><br>
                </p> -->

                <div v-show="threeIsCurrent" class="" style="height:25vh">


                </div>


              {% endif %}

              {% if chord4_works %}
              <div id = "chord4-data" v-show="chord4Vis" style="height:25vh">
                <label for="chord-4-style" class="f4 calisto  db mb2"> Chord 4 Style <span class="normal black-60"></span></label>
                <select v-model="chord4Style" ref= "chord4style" id="chord-4-style" name="chord4_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-4-style-desc" >
                        
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests)  </option>
                    </select>
                <small id="chord-4-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-4-denom" class="f4 calisto  db mb2"> Chord 4 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord4Denom" id="chord-4-denom" name="chord4_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-4-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>
          
                </select>
                <small id="chord-4-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-4-mutators" class="f4 calisto  db mb2"> Chord 4 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord4Mut" id="chord-4-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-4-mutators-desc" name="chord4_mutators" >
          
                <small id="chord-4-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
              {% endif %}

              {% if chord4_works_not  %}
            
                <div v-show="fourIsCurrent" class = "" style="height:25vh">

                </div>
            {% endif %}

            {% if chord5_works %}
              <div id = "chord5-data" v-show="chord5Vis" style="height:25vh">
                <label for="chord-5-style" class="f4 calisto  db mb2"> Chord 5 Style <span class="normal black-60"></span></label>
                <select v-model="chord5Style" ref= "chord5style" id="chord-5-style" name="chord5_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-5-style-desc" >
                        
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests) </option>
                    </select>
                <small id="chord-5-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-5-denom" class="f4 calisto  db mb2"> Chord 5 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord5Denom" id="chord-5-denom" name="chord5_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-5-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>
          
                </select>
                <small id="chord-5-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-5-mutators" class="f4 calisto  db mb2"> Chord 5 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord5Mut" id="chord-5-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-5-mutators-desc" name="chord5_mutators" >
          
                <small id="chord-5-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
            {% endif %}

            {% if chord5_works_not  %}
            
            <div v-show="fiveIsCurrent" class = "" style="height:25vh">

            </div>
            {% endif %}