<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Salieri | Instructions </title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
    <script src="https://unpkg.com/vue@3"></script>
    {% load static %}

    <style>
      label {color: #E2D8CC}
      small {color: #E2D8CC}
      a {color: #E2D8CC}
      nav {background-color: #130B23; }
      select {background-color: #E2D8CC; color: #130B23}
      input {background-color: #E2D8CC; color: #130B23;}
      body {background-image: linear-gradient(#0F0B26, #8C2641);}
      button {background-color: #0D0D0D
        ; border-color: #E2D8CC}
      #submit {background-color:#8C2641; border-color: #E2D8CC
      }
      #miniheadline {color: #E2D8CC}
      #sig {color: #E2D8CC}
      #miniheadline1 {color:#E0AB79
      }
      #miniheadline2 {color:#E2D8CC}
      #miniheadline3 {color:#E2D8CC}
      #textcontainer {background-color: #130B23
        ; border-color: #E2D8CC; color:#E2D8CC}
      #datacontainer {background-color: #130B23

        ; border-color: #E2D8CC}
      #datap {background-color: #E2D8CC; color: #130B23 }
      #dataheadings {color:#8C2641
      }
      #styleupdate{color:#22731D}
      #currchord{color:#22731D}

    </style>
</head>
<body style="min-height:100vh">
    
    <div id = "sal image div" class="mt5 tc">
        <a href="{% url 'userinput:index' %}"><img
            src="{% static 'userinput/coolsal.png' %}"
            class="br4 h5 w5 ba bw2 dib" alt="Salieri"
            style = "border-color: #E0AB79">
        </a>
    </div>

    <header class="tc pv4 calisto" style="color: #E2D8CC">
        <h1 class="mt2 mb0 calisto ttu tracked fw1 f-subheadline">Salieri</h1>
        <h2 class="mt2 f3 fw1 calisto i">you don't have to be mozart </h2>
        <nav class=" bt bb bw1 tc mw7 center mt4" style = "border-color: #E0AB79">
          <a class="f4 f4-l link bg-animate dib pa3 ph4-l" href="{% url 'userinput:index' %}">Home</a>
          <a class="f4 f4-l link bg-animate dib pa3 ph4-l" href="{% url 'userinput:about' %}">About</a>
          <a class="f4 f4-l link bg-animate dib pa3 ph4-l" href="{% url 'userinput:instructions' %}">Instructions</a>
          <a class="f4 f4-l link bg-animate dib pa3 ph4-l" href="{% url 'userinput:dedication' %}">Dedication</a>
        </nav>
    </header>

    <main>
        <div id = "containersdiv" class = "flex flex-wrap justify-center h-100">
            <div id = "textcontainer" class = "pa4 mb3 arial ba bw2 h-100 br4" style = "border-color: #E2D8CC;">
                <div class = "measure">
                    
                    <div class = "f4 ">
                        <div class = "f2 flex justify-center">
                            <span id = "miniheadline1" class = "calisto"> Instructions </span> <br>
                        </div>

                        <p>
                            <span class = "f3 calisto"><b>Overview</b></span><br><br>

                            There are two main phases to using Salieri, outlined below.<br><br>

                            <u>Phase I: Title and Progression</u><br><br>

                            Create a chord progression and title your composition.  In the demo version, you can create a progression up to five chords long utilizing the following parameters. <br><br>

                            <b>tonic</b>: sets what note a chord is based on (e.g. C)<br><br>
                            <b>quality</b> sets the variety of chord (e.g. major or minor)<br><br>
                            <b>bars</b>: sets how long the chord will linger (e.g. 1 bar)<br><br>

                            <u>Phase II: Tracks</u><br><br>

                            Add and style tracks based on the user-input progression utilizing the following parameters.<br><br>

                            <b>style</b> - sets what kind of musical figure will be played over a chord (ex: arpeggio)<br><br>
                            <b>denominator</b> - sets what length of note will play a starring role in the musical figure (ex: 4)<br><br>
                            <b>mutators</b> - applies various changes to the musical figure, depending which mutators are entered (ex: bassify1)<br><br>

                            <hr><br>

                            <span class = "f3 calisto"><b>About Mutators</b></span><br><br>

                            Mutators apply a range of effects to musical figures, and are a great way to inject variety and creativity into your MIDI.<br><br>


                            Make musical figure longer; play it in reverse; send all the notes down an octave -- these are just a few of the sorts of effects you can apply with mutators.<br><br>

                            Mutators can be entered in any order separated by a space.  For instance, either of the following mutator strings... <br><br>

                            "o1 reach2 return" <br><br>
                            "return o1 reach2" <br><br>

                            ...when applied to the arpeggio figure-writer will attempt to write an arpeggio that goes one full octave further, reaches 2 notes further into the next octave, and then walks back down. <br><br>
                            
                            Below you will find a list of all functional mutators included in the present demo version of Salieri.  Beneath each mutator you will find a list of all figure-writing functions that are compatible with that mutator.<br><br>

                            <hr><br>

                            <span class = "f3 calisto"><b>Mutator List</b></span><br><br>

                            bassify<i>n</i>, for <i>n</i> 1-3<br>
                            [arpeggio, simpline, strummer]<br><br>

                            lowers base octave of a musical figure by <i>n</i> octaves<br><br>

                            good for making basslines<br>
                            <br>-----<br><br>

                            delay<i>n</i>, for <i>n</i> 1-4<br>
                            [arpeggio, simpline, strummer]<br><br>

                            fills the beginning of a bar with <i>n</i> 1/4 rests before placing a musical figure<br>
                            <br>-----<br><br>

                            linger<i>n</i>, for <i>n</i> 1-8<br>
                            [arpeggio]<br><br>

                            places <i>n</i> of each note in the musical figure instead of 1<br>
                            <br>-----<br><br>

                            invert<i>n</i>, for <i>n</i> 1-2<br>
                            [arpeggio]<br><br>

                            inverts the chord used to generate a musical figure by <i>n</i> notes<br><br>

                            (the notes in an inverted chord are stacked differently, so that the tonic is not the lowest note)<br><br>

                            <br>-----<br><br>

                            o<i>n</i>, for <i>n</i> 1-3<br>
                            [arpeggio]<br><br>

                            adds full octaves to a musical figure<br><br>

                            good for making long, sweeping musical figures<br>
                            <br>-----<br><br>

                            p<i>n</i>, for <i>n</i> 1 <br>
                            [simpline, strummer]<br><br>

                            overrides the note denominator selected for a chord sequence, and instead places notes in a special, pre-arranged pattern<br><br>

                            p1 - a dramatic, crashing pattern (12 12 12 8 8 2)<br>

                            <br>-----<br><br>

                            reach<i>n</i>, for <i>n</i> 1-3<br>
                            [arpeggio]<br><br>

                            modifies length of an arpeggion, causing it to overflow into the next octave by <i>n</i> notes.<br>
                            <br>-----<br><br>

                            return<br>
                            [arpeggio]<br><br>

                            alternates placing a musical figure forwards and in reverse until the desired number of bars are filled<br>

                            <br>-----<br><br>
                            
                            reverse<br>
                            [arpeggio]<br><br>

                            arranges a musical figure in reverse<br>
                            <br>-----<br><br>
                            
                            trebify<i>n</i>, for <i>n</i> 1-3<br>
                            [arpeggio, simpline, strummer]<br><br>

                            raises base octave of a musical figure by <i>n</i> octaves<br><br>

                            good for making lead figures stand out<br>
                            <!-- <br>-----<br><br> -->


                        </p>



                    </div>
                </div>
            </div>
        </div>

    </main>


    <footer>
        <h4 id = "sig" class = "calisto f5 mb4 tc" > Logan Douglass | © 2022 </h4>
    </footer>

</body>
</html>
