<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Salieri | Add Tracks </title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
   
    <script src="https://unpkg.com/vue@3"></script>
    <!-- <script src="indexscript.js" defer></script> -->
    {% load static %}

    <style>
      label {color: #E2D8CC}
      small {color: #E2D8CC}
      a {color: #E2D8CC}
      nav {background-color: #130B23; }
      select {background-color: #E2D8CC; color: #130B23}
      input {background-color: #E2D8CC; color: #130B23;}
      body {background-image: linear-gradient(#0F0B26, #8C2641);}
      button {background-color: #0D0D0D
        ; border-color: #E2D8CC; color:#E2D8CC}
      #submit {background-color:#590743; border-color: #E2D8CC; color:#E2D8CC
      }
      #miniheadline {color: #E2D8CC}
      #sig {color: #E2D8CC}
      #miniheadline1 {color:#E0AB79
      }
      #miniheadline2 {color:#E2D8CC}
      #miniheadline3 {color:#E2D8CC}
      #formcontainer {background-color: #130B23
        ; border-color: #E2D8CC;}
      #datacontainer {background-color: #130B23

        ; border-color: #E2D8CC}
      #datap {background-color: #E2D8CC; color: #130B23 }
      #dataheadings {color:#8C2641
      }
      #styleupdate{color:#22731D}
      #currchord{color:#22731D}
      #finish{background-color: #8C2641;}
      #addtrack{background-color:#590743;color:#E2D8CC}
      #minib{background-color: #222222; color:#E2D8CC}
      #stylebar{color:#E2D8CC;}

    



    </style>
</head>
<body class = "h-100" style="min-height:100vh">
  <!-- tags above are on the other pages, but don't seem to fix any problem here -->

    <!-- Sal image div -->

    <div class="mt5 tc">
      <a href="{% url 'userinput:index' %}"><img
          src="{% static 'userinput/coolsal.png' %}"
          class="br4 h5 w5 ba bw2 dib" alt="Salieri"
          style = "border-color: #E0AB79">
      </a>
    </div>


    <!-- Nav -->

    <header class="tc pv4 calisto" style="color: #E2D8CC">
        <!-- <a href="" class="bg-black-80 ba b--black dib pa3 w2 h2 br-100">
          <svg class="white" data-icon="skull" viewBox="0 0 32 32" style="fill:currentcolor"><title>skull icon</title><path d="M16 0 C6 0 2 4 2 14 L2 22 L6 24 L6 30 L26 30 L26 24 L30 22 L30 14 C30 4 26 0 16 0 M9 12 A4.5 4.5 0 0 1 9 21 A4.5 4.5 0 0 1 9 12 M23 12 A4.5 4.5 0 0 1 23 21 A4.5 4.5 0 0 1 23 12"></path></svg>
        </a> -->
    
        <!-- ttu tracked hover-bg-gray-->
        <h1 class="mt2 mb0 calisto ttu tracked fw1 f-subheadline">Salieri</h1>
        <h2 class="mt2 f3 fw1 calisto i">you don't have to be mozart </h2>
        <nav class=" bt bb bw1 tc mw7 center mt4" style = "border-color: #E0AB79">
          <a class="f4 f4-l link bg-animate dib pa3 ph4-l" href="{% url 'userinput:index' %}">Home</a>
          <a class="f4 f4-l link bg-animate dib pa3 ph4-l" href="">About</a>
          <a class="f4 f4-l link bg-animate dib pa3 ph4-l" href="">Instructions</a>
          <a class="f4 f4-l link bg-animate dib pa3 ph4-l" href="">Dedication</a>
          <!-- f5-l  -->
        </nav>
      </header>


      <!-- App and Form Div  -->

      <div id = "app">

        
      <div id = "containersdiv" class = "flex flex-wrap justify-center h-100">
  
        <div id = "formcontainer" class = "pa4 mb3 calisto ba bw2 h-100 br4 mr2" style = "border-color: #E2D8CC;">
          <form class="" action= "{% url 'userinput:trackadd' composition.id %}" style = 'border-color: #E2D8CC' method="POST">
          {% csrf_token %}
            <div class="measure-narrow">
    
            <!-- Comp mini-headlines div -->
            
              <div id = "miniheadline div" class = "flex flex-column justify-center">
              <span id="miniheadline1" class = "f2 tc w-100">MIDI Composition</span>
              <span id="miniheadline2" class = "f3 tc w-100">Part II: Tracks</span>
              <br>
              <!-- <span id="miniheadline3" class = "f4 tc w-100">Add Tracks</span> -->
              
              </div>
    
              <hr><br> 
              <!--  -->
    
              <label for="trackname" class="f4 calisto  db mb2"> Track Name <span class="normal black-60"></span></label>
              <input id="trackname" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="trackname-desc" name="trackname">
              <small id="trackname-desc" class="f5 db mb2"></small>
    
            <br><hr class = " "><br>

            <!-- Begin fields -- TEST FIELD -->
    
            {% if chord1_works %}
            <div id = "chord1-data" v-show="chord1Vis" style="height:20rem">
                <label for="chord-1-style" class="f4 calisto  db mb2"> Chord 1 Style <span class="normal black-60"></span></label>
                <select v-model="chord1Style" ref= "chord1style" id="chord-1-style" name="chord1_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-1-style-desc" >
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests)  </option>
                    </select>
                <small id="chord-1-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-1-denom" class="f4 calisto  db mb2"> Chord 1 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord1Denom" id="chord-1-denom" name="chord1_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-1-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>                        
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>

                </select>
                <small id="chord-1-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-1-mutators" class="f4 calisto  db mb2"> Chord 1 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord1Mut" id="chord-1-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-1-mutators-desc" name="chord1_mutators" >

                <small id="chord-1-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
              {% endif %}

              {% if chord1_works_not  %}
            
                <div v-show="oneIsCurrent" class = "" style="height:20rem">

                </div>
                {% endif %}
            
              {% if chord2_works %}
              <div id = "chord2-data" v-show="chord2Vis" style="height:20rem">
                <label  for="chord-2-style" class="f4 calisto  db mb2"> Chord 2 Style <span class="normal black-60"></span></label>
                <select v-model="chord2Style" ref= "chord2style" id="chord-2-style" name="chord2_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-2-style-desc" >
                        
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests)  </option>
                </select>
                <small id="chord-2-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-2-denom" class="f4 calisto  db mb2"> Chord 2 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord2Denom" id="chord-2-denom" name="chord2_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-2-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>
          
                </select>
                <small id="chord-2-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-2-mutators" class="f4 calisto  db mb2"> Chord 2 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord2Mut" id="chord-2-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-2-mutators-desc" name="chord2_mutators" >
          
                <small id="chord-2-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
              {% endif %}

              {% if chord2_works_not  %}
            
                <div v-show="twoIsCurrent" class = "" style="height:20rem">

                </div>
                {% endif %}

              {% if chord3_works %}
              <div id = "chord3-data" v-show="chord3Vis" style="height:20rem">
                <label for="chord-3-style" class="f4 calisto  db mb2"> Chord 3 Style <span class="normal black-60"></span></label>
                <select v-model="chord3Style" ref= "chord3style" id="chord-3-style" name="chord3_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-3-style-desc" >
                        
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests)  </option>
                    </select>
                <small id="chord-3-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-3-denom" class="f4 calisto  db mb2"> Chord 3 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord3Denom" id="chord-3-denom" name="chord3_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-3-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>
          
                </select>
                <small id="chord-3-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-3-mutators" class="f4 calisto  db mb2"> Chord 3 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord3Mut" id="chord-3-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-3-mutators-desc" name="chord3_mutators" >
          
                <small id="chord-3-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
              {% endif %}

              {% if chord3_works_not  %}
            
                <!-- <p v-show="threeIsCurrent" class = "">
                <br><br><br><br><br><br>
                <br><br><br><br><br><br>
                <br><br><br><br><br>
                </p> -->

                <div v-show="threeIsCurrent" class="" style="height:20rem">


                </div>


              {% endif %}

              {% if chord4_works %}
              <div id = "chord4-data" v-show="chord4Vis" style="height:20rem">
                <label for="chord-4-style" class="f4 calisto  db mb2"> Chord 4 Style <span class="normal black-60"></span></label>
                <select v-model="chord4Style" ref= "chord4style" id="chord-4-style" name="chord4_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-4-style-desc" >
                        
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests)  </option>
                    </select>
                <small id="chord-4-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-4-denom" class="f4 calisto  db mb2"> Chord 4 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord4Denom" id="chord-4-denom" name="chord4_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-4-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>
          
                </select>
                <small id="chord-4-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-4-mutators" class="f4 calisto  db mb2"> Chord 4 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord4Mut" id="chord-4-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-4-mutators-desc" name="chord4_mutators" >
          
                <small id="chord-4-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
              {% endif %}

              {% if chord4_works_not  %}
            
                <div v-show="fourIsCurrent" class = "" style="height:20rem">

                </div>
            {% endif %}

            {% if chord5_works %}
              <div id = "chord5-data" v-show="chord5Vis" style="height:20rem">
                <label for="chord-5-style" class="f4 calisto  db mb2"> Chord 5 Style <span class="normal black-60"></span></label>
                <select v-model="chord5Style" ref= "chord5style" id="chord-5-style" name="chord5_style" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-5-style-desc" >
                        
                        <option value="arpeggio"> arpeggio </option>
                        <option value="simpline"> simple line </option>
                        <option value="strummer"> strummer </option>
                        <option value="silence"> silence (all rests) </option>
                    </select>
                <small id="chord-5-style-desc" class="f5 db mb2"></small>
                <br>
            
                <label for="chord-5-denom" class="f4 calisto  db mb2"> Chord 5 Denominator <span class="normal black-60"></span></label>
                
                <!-- fix XX-->
                <select v-model="chord5Denom" id="chord-5-denom" name="chord5_denom" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" aria-describedby="chord-5-denom-desc" >
                        <!--  -->
                        <option value="1" > 1 (whole) </option>
                        <option value="2" > 2 (half) </option>
                        <option value="4" selected = "selected" > 4 (quarter) </option>
                        <option value="6" > 6 (tupled-quarter) </option>
                        <option value="8" > 8 (eighth) </option>
                        <option value="12" > 12 (tupled-eighth) </option>
                        <option value="16" > 16 (sixteenth) </option>
                        <option value="24" > 24 (tupled-16th) </option>
                        <option value="32" > 32 (thirty-second) </option>
                        <option value="64" > 64 (sixty-fourth) </option>
          
                </select>
                <small id="chord-5-denom-desc" class="f5 db mb2"></small>
                  <br>
                
                <!-- fix  XX-->
                <label for="chord-5-mutators" class="f4 calisto  db mb2"> Chord 5 Mutators <span class="normal black-60"></span></label>
                <input v-model="chord5Mut" id="chord-5-mutators" class="pointer f4 input-reset ba b--black-20 pa2 mb2 db w-100 br4" type="text" aria-describedby="chord-5-mutators-desc" name="chord5_mutators" >
          
                <small id="chord-5-mutators-desc" class="f5 db mb2"></small>
              
                
                <br><hr class = " "><br>
              </div>
            {% endif %}

            {% if chord5_works_not  %}
            
            <div v-show="fiveIsCurrent" class = "" style="height:20rem">

            </div>
            {% endif %}
            
        
            <div id="button-div" class = "flex flex-wrap justify-center w-100"> 
            
                <button id="minib" @click.prevent = "prevPage" class = "w-45 b pointer   mh1 mb2 f4 calisto no-underline br2 ph4 pv2  white" type = "button"> < </button>
                <button id="minib" @click.prevent = "nextPage" class = "w-45 b pointer   mh1  mb2 f4 calisto no-underline br2 pv2 ph4  white" type = "button"> > </button>
                <button id="minib" @click.prevent = "copyLast" class = "w-45 b pointer   mh1 mb2 f4 calisto no-underline br2 ph4 pv2  white" type = "button"> copy last </button>
                <button id="minib" @click.prevent = "copyAll" class = "w-45 b pointer   mh1  mb2 f4 calisto no-underline br2 pv2 ph4  white" type = "button"> style all </button>
                <button id="stylebar" @click.prevent = "clearBar" class = "w-90 b pointer   f4 calisto no-underline br2 ph4 pv2 mb2  white" type = "button"> reset styling </button>
                  

                <input id="submit" class = "w-90 b pointer   f4 calisto no-underline br2 ph4 pv2 mb2 white" type="submit" value="add track"/>

                <a href = "{% url 'generation:magic' composition.id %}" class = "no-underline w-100 flex justify-center ">
                <button id="finish" class = "w-90 b pointer dib dim f4 calisto no-underline br2 ph3 pv2 mb2 white" type="button" method="post">
                  finish composition
                </button>
                </a>
    
              


            </div> <!-- closes button div -->
        </div> <!-- closes narrow measure -->
        </form>
        </div> <!-- closes formcontainer -->

    
            <!-- </form> -->
          

        <div id = "datacontainer" class = " flex flex-column items-center pa4 mb3 calisto ba bw2  br4 ml2" style = "border-color: #E2D8CC">

          <!-- <img
            src="{% static 'userinput/coolsal.png' %}"
            class="br4 h5 w5 ba bw2 dib" alt="avatar"
            style = "border-color: #E2D8CC"> -->
          <span id="miniheadline1" class = "f2 tc w-100"> Composition Data </span>
          <!-- <br> -->
          <span id="miniheadline2" class = "f3 tc w-100">{{composition.name}}</span>
          <br>
          <hr class = w-100>


          <p id = "datap" class = "calisto f4 ph4 pv2 tc br4">
            
            <br>
            
            <span id="dataheadings" class = "b f3"> Selected Chord<br></span>
            <!-- v-show="chord1Vis" -->
            _________________________<br><br>
            <span id = "currchord" v-show="chord1Vis">
            <b>Chord [[chordCurrent]]</b> <br>
            {{chord1_tonic_display}}
            {{chord1_quality_display}}
            {{chord1_bars}} {{chord1_bars_u}}
            </span>

            <span id = "currchord" v-show="chord2Vis">
              <b>Chord [[chordCurrent]]</b> <br>
              {{chord2_tonic_display}}
              {{chord2_quality_display}}
              {{chord2_bars}} {{chord2_bars_u}}
            </span>

            <span id = "currchord" v-show="chord3Vis">
              <b>Chord [[chordCurrent]]</b> <br>
              {{chord3_tonic_display}}
              {{chord3_quality_display}}
              {{chord3_bars}} {{chord3_bars_u}}
            </span>

            <span id = "currchord" v-show="chord4Vis">
              <b>Chord [[chordCurrent]]</b> <br>
              {{chord4_tonic_display}}
              {{chord4_quality_display}}
              {{chord4_bars}} {{chord4_bars_u}}
            </span>

            <span id = "currchord" v-show="chord5Vis">
              <b>Chord [[chordCurrent]]</b> <br>
              {{chord5_tonic_display}}
              {{chord5_quality_display}}
              {{chord5_bars}} {{chord5_bars_u}}
            </span>
            
            <br><br><br>
            
            
            
            
            
            
            
            
            <span id="dataheadings" class = "b f3">Progression<br></span>

            _________________________<br><br>
            {% if chord1_vis %}
            <span class = "pointer" @click.prevent="toChord1()">    
            <b>Chord 1</b> <br>
            {{chord1_tonic_display}}
            {{chord1_quality}}
            {{chord1_bars}} {{chord1_bars_u}}<br>
            <span id="styleupdate"> + [[chord1Style]] [[chord1Denom]]<br>[[chord1Mut]]</span><br>
            <br>
          </span>
            {% endif %}
          
            


            {% if chord2_vis %}
            <span class = "pointer" @click.prevent="toChord2()">
            <b>Chord 2</b><br>
            {{chord2_tonic_display}}
            {{chord2_quality}}
            {{chord2_bars}} {{chord2_bars_u}}<br>
            <span id="styleupdate"> + [[chord2Style]] [[chord2Denom]]<br>[[chord2Mut]]</span><br>
            <br>
          </span>
            {% endif %}
            

           {% if chord3_vis %}
           <span class = "pointer" @click.prevent="toChord3()">
            <b>Chord 3</b><br>
            {{chord3_tonic_display}}
            {{chord3_quality}}
            {{chord3_bars}} {{chord3_bars_u}}<br>
            <span id="styleupdate"> + [[chord3Style]] [[chord3Denom]]<br>[[chord3Mut]]</span><br>
            <br>
          </span>
            {% endif %}
      

          {% if chord4_vis %}
          <span class = "pointer" @click.prevent="toChord4()">
            <b>Chord 4</b><br>
            {{chord4_tonic_display}}
            {{chord4_quality}}
            {{chord4_bars}} {{chord4_bars_u}}<br>
            <span id="styleupdate"> + [[chord4Style]] [[chord4Denom]]<br>[[chord4Mut]]</span><br>
            <br>
          </span>
            {% endif %}
          

            {% if chord5_vis %}
            <span class = "pointer" @click.prevent="toChord5()">
            <b>Chord 5</b><br>
            {{chord5_tonic_display}}
            
            {{chord5_quality}}
            {{chord5_bars}} {{chord5_bars_u}}<br>
            <span id="styleupdate"> + [[chord5Style]] [[chord5Denom]]<br>[[chord5Mut]]</span><br>
            <br>
            </span>
            {% endif %}
            
            <br>
            <!-- Current Chord Section -->
            
            <span id="dataheadings" class = "b f3"> Tracks <br></span>
            _________________________<br><br>
            {% if no_tracks %}
              <i>None</i><br>
            <br><br>
            {% endif %}
            
            {% for track_name in track_names %}
            <b>{{track_name}}</b><br>
            <br><br>
            {% endfor %}
            <br>

            
          </p>

        </div><!-- closes datacontainer flexbox -->


        </div> <!-- close containersdiv flexbox -->

        

      </div> <!-- close app div -->
          

      <h4 id = "sig" class = "calisto f5 mb4 tc" > Logan Douglass | 2022 </h4>

      <script>
        const App = {
          // the data property is a function that returns an object
          data() {
            return {
              debug: 'helloworld',
              chord1Vis: true,
              chord2Vis: false,
              chord3Vis: false,
              chord4Vis: false,
              chord5Vis: false,
              obliterate: false,

              // begins on chord1
              chordCurrent: 1,


              chord1Style: "",
              chord1Denom: "",
              chord1Mut: undefined,


              chord2Style: "",
              chord2Denom: "",
              chord2Mut: undefined,

              chord3Style: "",
              chord3Denom: "",
              chord3Mut: undefined,

              chord4Style: "",
              chord4Denom: "",
              chord4Mut: undefined,


              chord5Style: "",
              chord5Denom: "",
              chord5Mut: undefined,


              currentChordDict: 
                {
                1: `"f${this.chord1Style} ${this.chord1Denom}"`,
                2: `"f${this.chord1Style} ${this.chord1Denom}"`,
                3: `"f${this.chord1Style} ${this.chord1Denom}"`,
                4: `"f${this.chord1Style} ${this.chord1Denom}"`,
                5: `"f${this.chord1Style} ${this.chord1Denom}"`,
                              

              },

              currentChordDisplay: undefined,
              fiveIsCurrent: false,
              fourIsCurrent: false,
              threeIsCurrent: false,
              twoIsCurrent: false,
              oneIsCurrent: false,


             


      
            }
          },
    
          //
      
          delimiters: ["[[", "]]"],
    
          //
    
          //
          
          methods: {

            setCurrent(){
                if(this.chordCurrent == 5){
                    this.fiveIsCurrent = true

                    this.fourIsCurrent = false
                    this.threeIsCurrent = false
                    this.twoIsCurrent = false
                    this.oneIsCurrent = false
            }
                else if(this.chordCurrent == 4){
                    this.fourIsCurrent = true

                    this.fiveIsCurrent = false
                    this.threeIsCurrent = false
                    this.twoIsCurrent = false
                    this.oneIsCurrent = false}

                else if(this.chordCurrent == 3){
                    this.threeIsCurrent = true
                
                    this.fiveIsCurrent = false
                    this.fourIsCurrent = false
                    this.twoIsCurrent = false
                    this.oneIsCurrent = false}


                else if(this.chordCurrent == 2){
                    this.twoIsCurrent = true
                
                    this.fiveIsCurrent = false
                    this.fourIsCurrent = false
                    this.threeIsCurrent = false
                    this.oneIsCurrent = false}


                else if(this.chordCurrent == 1){
                    this.oneIsCurrent = true

                    this.fiveIsCurrent = false
                    this.fourIsCurrent = false
                    this.threeIsCurrent = false
                    this.twoIsCurrent = false}
            },


    
            clearBar(){
                if (this.chordCurrent == 1){
                    
                    this.chord1Style = undefined
                    this.chord1Denom = undefined
                    this.chord1Mut = undefined
            
            
            }



            },
            
            nextPage() {



    
              console.log("here0")
              if (this.chordCurrent == 1)
              {

                this.chordCurrent = 2

                this.chord1Vis = false

                this.chord2Vis = true

                this.currentChordDisplay = this.currentChordDict[this.chordCurrent]
              }
              
              else if (this.chordCurrent == 2){
              this.chordCurrent = 3
              this.chord2Vis = false
              this.chord3Vis = true
              this.currentChordDisplay = this.currentChordDict[this.chordCurrent]
              }
    
              else if (this.chordCurrent == 3){
              this.chordCurrent = 4
              this.chord3Vis = false
              this.chord4Vis = true
              this.currentChordDisplay = this.currentChordDict[this.chordCurrent]
              }
              else if (this.chordCurrent == 4){
              this.chordCurrent = 5
              this.chord4Vis = false
              this.chord5Vis = true
              this.currentChordDisplay = this.currentChordDict[this.chordCurrent]
            }


              this.setCurrent()
    
    
            },

          prevPage(){

            if (this.chordCurrent == 2){
                this.chordCurrent = 1
                this.chord1Vis = true
                this.chord2Vis = false
                this.currentChordDisplay = this.currentChordDict[this.chordCurrent]
                }
            else if (this.chordCurrent == 3){
                this.chordCurrent = 2
                this.chord2Vis = true
                this.chord3Vis = false
                this.currentChordDisplay = this.currentChordDict[this.chordCurrent]
                }
            else if (this.chordCurrent == 4){
                this.chordCurrent = 3
                this.chord3Vis = true
                this.chord4Vis = false
                this.currentChordDisplay = this.currentChordDict[this.chordCurrent]
                }
            else if (this.chordCurrent == 5){
                this.chordCurrent = 4
                this.chord4Vis = true
                this.chord5Vis = false
                this.currentChordDisplay = this.currentChordDict[this.chordCurrent]
                }

                this.setCurrent()


          },

          toChord1() {
            this.chordCurrent = 1
            this.chord1Vis = true
            this.chord2Vis = false
            this.chord3Vis = false
            this.chord4Vis = false
            this.chord5Vis = false
            this.currentChordDisplay = this.currentChordDict[this.chordCurrent]

            this.setCurrent()
    
              
    
          },

          toChord2() {
            this.chordCurrent = 2
            this.chord1Vis = false
            this.chord2Vis = true
            this.chord3Vis = false
            this.chord4Vis = false
            this.chord5Vis = false
            this.currentChordDisplay = this.currentChordDict[this.chordCurrent]

            this.setCurrent()
          
        },

        toChord3() {
          this.chordCurrent = 3
          this.chord1Vis = false
          this.chord2Vis = false
          this.chord3Vis = true
          this.chord4Vis = false
          this.chord5Vis = false
          this.currentChordDisplay = this.currentChordDict[this.chordCurrent]

          this.setCurrent()
        
      },

      toChord4() {
        this.chordCurrent = 4
        this.chord1Vis = false
        this.chord2Vis = false
        this.chord3Vis = false
        this.chord4Vis = true
        this.chord5Vis = false
        this.currentChordDisplay = this.currentChordDict[this.chordCurrent]

        this.setCurrent()
      
    },

      toChord5() {
        this.chordCurrent = 5
        this.chord1Vis = false
        this.chord2Vis = false
        this.chord3Vis = false
        this.chord4Vis = false
        this.chord5Vis = true
        this.currentChordDisplay = this.currentChordDict[this.chordCurrent]

        this.setCurrent()

        

      },

      copyAll()  {
        if (this.chordCurrent == 1) {
            
            this.chord1Style = this.chord1Style
            this.chord1Denom = this.chord1Denom
            this.chord1Mut = this.chord1Mut

            
            this.chord2Style = this.chord1Style
            this.chord2Denom = this.chord1Denom
            this.chord2Mut = this.chord1Mut

            this.chord3Style = this.chord1Style
            this.chord3Denom = this.chord1Denom
            this.chord3Mut = this.chord1Mut

            this.chord4Style = this.chord1Style
            this.chord4Denom = this.chord1Denom
            this.chord4Mut = this.chord1Mut

            this.chord5Style = this.chord1Style
            this.chord5Denom = this.chord1Denom
            this.chord5Mut = this.chord1Mut
        }

        else if (this.chordCurrent == 2){
            this.chord1Style = this.chord2Style
            this.chord1Denom = this.chord2Denom
            this.chord1Mut = this.chord2Mut

            
            this.chord2Style = this.chord2Style
            this.chord2Denom = this.chord2Denom
            this.chord2Mut = this.chord2Mut

            this.chord3Style = this.chord2Style
            this.chord3Denom = this.chord2Denom
            this.chord3Mut = this.chord2Mut

            this.chord4Style = this.chord2Style
            this.chord4Denom = this.chord2Denom
            this.chord4Mut = this.chord2Mut

            this.chord5Style = this.chord2Style
            this.chord5Denom = this.chord2Denom
            this.chord5Mut = this.chord2Mut

        }
        else if (this.chordCurrent == 3){

                this.chord1Style = this.chord3Style
                this.chord1Denom = this.chord3Denom
                this.chord1Mut = this.chord3Mut
    
                
                this.chord2Style = this.chord3Style
                this.chord2Denom = this.chord3Denom
                this.chord2Mut = this.chord3Mut
    
                this.chord3Style = this.chord3Style
                this.chord3Denom = this.chord3Denom
                this.chord3Mut = this.chord3Mut
    
                this.chord4Style = this.chord3Style
                this.chord4Denom = this.chord3Denom
                this.chord4Mut = this.chord3Mut
    
                this.chord5Style = this.chord3Style
                this.chord5Denom = this.chord3Denom
                this.chord5Mut = this.chord3Mut
    
            }


        else if (this.chordCurrent == 4){

            this.chord1Style = this.chord4Style
            this.chord1Denom = this.chord4Denom
            this.chord1Mut = this.chord4Mut

            
            this.chord2Style = this.chord4Style
            this.chord2Denom = this.chord4Denom
            this.chord2Mut = this.chord4Mut

            this.chord3Style = this.chord4Style
            this.chord3Denom = this.chord4Denom
            this.chord3Mut = this.chord4Mut

            this.chord4Style = this.chord4Style
            this.chord4Denom = this.chord4Denom
            this.chord4Mut = this.chord4Mut

            this.chord5Style = this.chord4Style
            this.chord5Denom = this.chord4Denom
            this.chord5Mut = this.chord4Mut


        }
        else if (this.chordCurrent == 5){

            this.chord1Style = this.chord5Style
            this.chord1Denom = this.chord5Denom
            this.chord1Mut = this.chord5Mut

            
            this.chord2Style = this.chord5Style
            this.chord2Denom = this.chord5Denom
            this.chord2Mut = this.chord5Mut

            this.chord3Style = this.chord5Style
            this.chord3Denom = this.chord5Denom
            this.chord3Mut = this.chord4Mut

            this.chord4Style = this.chord5Style
            this.chord4Denom = this.chord5Denom
            this.chord4Mut = this.chord5Mut

            this.chord5Style = this.chord5Style
            this.chord5Denom = this.chord5Denom
            this.chord5Mut = this.chord5Mut


        }
        
        





      },

      copyLast()  {

        if (this.chordCurrent == 2){
            this.chord2Style = this.chord1Style
            this.chord2Denom = this.chord1Denom
            this.chord2Mut = this.chord1Mut
        }
        else if(this.chordCurrent == 3){ 
            this.chord3Style = this.chord2Style
            this.chord3Denom = this.chord2Denom
            this.chord3Mut = this.chord2Mut
        }
        else if(this.chordCurrent == 4){ 
            this.chord4Style = this.chord3Style
            this.chord4Denom = this.chord3Denom
            this.chord4Mut = this.chord3Mut
        }
        else if(this.chordCurrent == 5){ 
            this.chord5Style = this.chord4Style
            this.chord5Denom = this.chord4Denom
            this.chord5Mut = this.chord4Mut
        }

    }, 

      
      } // methods close
    } // app close

    
    const app = Vue.createApp(App)
    app.mount('#app')
    
    
    
      </script>





    
</body>
</html>